<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title> Patronato Hospital Regional Materno Infantil</title>
</head>

<body>
<div style="margin:0 auto; width:550px;  height:105px;" align="center"><img style="padding-top:10px;" src="http://influx.com.mx/sites/hospital-materno-infantil/process/templates/img_header.jpg" alt="Patronato Hospital Regional Materno Infantil" title="Patronato Hospital Regional Materno Infantil" /></div>
<div style="margin:0 auto; width:540px;font-family: Arial, Helvetica, sans-serif; text-align:center; font-size: 12px;color: #333; padding: 100px 5px 5px 5px"><p style="color:#333; font-size:18px">Estimado administrador</p>
<p>Ha llegado un mensaje  a trav&eacute;s de la forma de contacto del sitio web de <b style="color:#3d301d"><br /> 
"Patronato Hospital Regional Materno Infantil "</b>, con los siguientes datos:</p>
        
             <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">

              <tr>
                <td width="174" height="30" align="right" bgcolor="#f9f9f9"><b style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3d301d"> Nombre :</b></td>
                <td width="10" bgcolor="#f9f9f9">&nbsp;</td>
                <td width="329" align="left" bgcolor="#f9f9f9"><span style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3d301d">[nombre]</span></td>
               </tr>
               
              <tr>
                <td bgcolor="#f9f9f9" width="174" height="30" align="right"><b style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3d301d">Email </b><b style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333">:</b></td>
                <td bgcolor="#f9f9f9" width="10">&nbsp;</td>
                <td bgcolor="#f9f9f9" align="left"><span style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3d301d">[email]</span></td>
               </tr>

               <tr>
                <td bgcolor="#f9f9f9" width="174" height="30" align="right"><b style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333"> Telefono:</b></td>
                <td bgcolor="#f9f9f9" width="10">&nbsp;</td>
                <td bgcolor="#f9f9f9" align="left"><span style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3d301d">[tel]</span></td>
               </tr>

               <tr>
                <td width="174" height="30" align="right" bgcolor="#f9f9f9"><b style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333">Mensaje</b><b style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3d301d">:</b></td>
                <td width="10" bgcolor="#f9f9f9">&nbsp;</td>
                <td align="left" bgcolor="#f9f9f9"><span style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333">[mensaje]</span></td>
               </tr>


  </table>

  <br><br><br>
  <br>

</div>
<div style="margin:0 auto; width:540px; font-family: Arial, Helvetica, sans-serif;font-size: 12px;background-color: #333; padding: 5px 5px 5px 5px; text-align:center"><a style="color: #FFF" href="" target="_blank">Patronato Hospital Regional Materno Infantil</a></div>
</body>
</html>
